# AirBnB Data Analysis

In [1]:
# for Python 2: use print only as a function
from __future__ import print_function
import pandas as pd
import numpy as np
import csv

## Read data

In [2]:
# read nvda.csv using a relative path
#path = 'nvda_group_clean_trainData.csv'

'''
path1 = '/Users/gourabbhattacharyya/Downloads/listings_Feb2018.csv'
tsData1 = pd.read_csv(path1)
path2 = '/Users/gourabbhattacharyya/Downloads/listings_March2018.csv'
tsData2 = pd.read_csv(path2)
path3 = '/Users/gourabbhattacharyya/Downloads/listings_Jan2018_1.csv'
tsData3 = pd.read_csv(path3)
'''

pathList = ['/Users/gourabbhattacharyya/Desktop/CSE 544/project/data2015/listings_mar.csv',
           '/Users/gourabbhattacharyya/Desktop/CSE 544/project/data2015/listings_may.csv',
           '/Users/gourabbhattacharyya/Desktop/CSE 544/project/data2015/listings_jun.csv',
           '/Users/gourabbhattacharyya/Desktop/CSE 544/project/data2015/listings_aug.csv',
           '/Users/gourabbhattacharyya/Desktop/CSE 544/project/data2015/listings_sep.csv',
           '/Users/gourabbhattacharyya/Desktop/CSE 544/project/data2015/listings_oct.csv',
           '/Users/gourabbhattacharyya/Desktop/CSE 544/project/data2015/listings_nov.csv',
           '/Users/gourabbhattacharyya/Desktop/CSE 544/project/data2015/listings_dec.csv',
           '/Users/gourabbhattacharyya/Desktop/CSE 544/project/data2016/listings_jan.csv',
           '/Users/gourabbhattacharyya/Desktop/CSE 544/project/data2016/listings_feb.csv',
           '/Users/gourabbhattacharyya/Desktop/CSE 544/project/data2016/listings_apr.csv',
           '/Users/gourabbhattacharyya/Desktop/CSE 544/project/data2016/listings_may.csv',
           '/Users/gourabbhattacharyya/Desktop/CSE 544/project/data2016/listings_jun.csv',
           '/Users/gourabbhattacharyya/Desktop/CSE 544/project/data2016/listings_jul.csv',
           '/Users/gourabbhattacharyya/Desktop/CSE 544/project/data2016/listings_aug.csv',
           '/Users/gourabbhattacharyya/Desktop/CSE 544/project/data2016/listings_sep.csv',
           '/Users/gourabbhattacharyya/Desktop/CSE 544/project/data2016/listings_oct.csv',
           '/Users/gourabbhattacharyya/Desktop/CSE 544/project/data2016/listings_nov.csv',
           '/Users/gourabbhattacharyya/Desktop/CSE 544/project/data2016/listings_dec.csv',
           '/Users/gourabbhattacharyya/Desktop/CSE 544/project/data2017/listings_jan.csv',
           '/Users/gourabbhattacharyya/Desktop/CSE 544/project/data2017/listings_feb.csv',
           '/Users/gourabbhattacharyya/Desktop/CSE 544/project/data2017/listings_mar.csv',
           '/Users/gourabbhattacharyya/Desktop/CSE 544/project/data2017/listings_apr.csv',
           '/Users/gourabbhattacharyya/Desktop/CSE 544/project/data2017/listings_may.csv',
           '/Users/gourabbhattacharyya/Desktop/CSE 544/project/data2017/listings_jun.csv',
           '/Users/gourabbhattacharyya/Desktop/CSE 544/project/data2017/listings_jul.csv',
           '/Users/gourabbhattacharyya/Desktop/CSE 544/project/data2017/listings_aug.csv',
           '/Users/gourabbhattacharyya/Desktop/CSE 544/project/data2017/listings_sep.csv',
           '/Users/gourabbhattacharyya/Desktop/CSE 544/project/data2017/listings_oct.csv',
           '/Users/gourabbhattacharyya/Desktop/CSE 544/project/data2017/listings_nov.csv',
           '/Users/gourabbhattacharyya/Desktop/CSE 544/project/data2017/listings_dec.csv',
           '/Users/gourabbhattacharyya/Desktop/CSE 544/project/data2018/listings_jan.csv',
           '/Users/gourabbhattacharyya/Desktop/CSE 544/project/data2018/listings_feb.csv',
           '/Users/gourabbhattacharyya/Desktop/CSE 544/project/data2018/listings_mar.csv']

data={}
for i in range(len(pathList)):
    index = i+1
    FileName = "tsData_"+str(index)
    print("FileName : ", FileName)
    data[FileName] = pd.read_csv(pathList[i], low_memory=False)
data.keys()

FileName :  tsData_1
FileName :  tsData_2
FileName :  tsData_3
FileName :  tsData_4
FileName :  tsData_5
FileName :  tsData_6
FileName :  tsData_7
FileName :  tsData_8
FileName :  tsData_9
FileName :  tsData_10
FileName :  tsData_11
FileName :  tsData_12
FileName :  tsData_13
FileName :  tsData_14
FileName :  tsData_15
FileName :  tsData_16
FileName :  tsData_17
FileName :  tsData_18
FileName :  tsData_19
FileName :  tsData_20
FileName :  tsData_21
FileName :  tsData_22
FileName :  tsData_23
FileName :  tsData_24
FileName :  tsData_25
FileName :  tsData_26
FileName :  tsData_27
FileName :  tsData_28
FileName :  tsData_29
FileName :  tsData_30
FileName :  tsData_31
FileName :  tsData_32
FileName :  tsData_33
FileName :  tsData_34

dict_keys(['tsData_1', 'tsData_2', 'tsData_3', 'tsData_4', 'tsData_5', 'tsData_6', 'tsData_7', 'tsData_8', 'tsData_9', 'tsData_10', 'tsData_11', 'tsData_12', 'tsData_13', 'tsData_14', 'tsData_15', 'tsData_16', 'tsData_17', 'tsData_18', 'tsData_19', 'tsData_20', 'tsData_21', 'tsData_22', 'tsData_23', 'tsData_24', 'tsData_25', 'tsData_26', 'tsData_27', 'tsData_28', 'tsData_29', 'tsData_30', 'tsData_31', 'tsData_32', 'tsData_33', 'tsData_34'])

In [3]:
# examine the shape
print(data['tsData_1'].shape)
print(data['tsData_20'].shape)
print(data['tsData_34'].shape)

(27101, 68)
(40883, 95)
(48852, 96)

## Display data

In [4]:
# examine the first row
data['tsData_1'].head(5)

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,picture_url,host_id,...,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,requires_license,license,jurisdiction_names,calculated_host_listings_count,reviews_per_month
0,980018,https://www.airbnb.com/rooms/980018,20150301182857,2015-03-02,Central Park next to Dekota 71 st,NaN,"My 1 bedroom apartment 71 Street hood, is best...","My 1 bedroom apartment 71 Street hood, is best...",https://a1.muscache.com/pictures/14670023/larg...,5275468,...,NaN,NaN,NaN,NaN,NaN,f,NaN,NaN,1,NaN
1,2777790,https://www.airbnb.com/rooms/2777790,20150301182857,2015-03-02,Sunny East Village 1BR On The Park,Sun filled E. Village 1BR next to Tompkins Squ...,Sun filled E. Village 1BR next to Tompkins Squ...,Sun filled E. Village 1BR next to Tompkins Squ...,https://a1.muscache.com/pictures/36120986/larg...,1410115,...,10.0,10.0,10.0,10.0,10.0,f,NaN,NaN,1,0.4
2,2875203,https://www.airbnb.com/rooms/2875203,20150301182857,2015-03-02,The Notorious B.N.B. { Pfizer II },This listing is for a private guest room and s...,"""Staying with Jessica at the historic mansion ...",This listing is for a private guest room and s...,https://a1.muscache.com/pictures/46691778/larg...,1177497,...,10.0,10.0,10.0,10.0,10.0,f,NaN,NaN,9,0.4
3,3553768,https://www.airbnb.com/rooms/3553768,20150301182857,2015-03-02,"Serene, minimalist studio W Village",Serene studio furnished in minimalist fashion ...,NaN,Serene studio furnished in minimalist fashion ...,https://a1.muscache.com/pictures/44812356/larg...,17891677,...,9.0,9.0,10.0,10.0,9.0,f,NaN,NaN,1,1.4
4,704829,https://www.airbnb.com/rooms/704829,20150301182857,2015-03-02,Lovely Guest Room,NaN,"Hello, its Fabrice and Nurri here. ;))) We hav...","Hello, its Fabrice and Nurri here. ;))) We hav...",https://a1.muscache.com/pictures/9687870/large...,3621084,...,10.0,10.0,10.0,9.0,9.0,f,NaN,NaN,2,2.0

In [ ]:
# examine the class distribution
#tsData3.host_id.sort_index().head(5)

In [5]:
for key, value in data.items():
    data[key] = value.sort_values(by=['id'])
'''
tsData1 = tsData1.sort_values(by=['host_id'])
tsData2 = tsData2.sort_values(by=['host_id'])
tsData3 = tsData3.sort_values(by=['host_id'])
'''
data['tsData_1'].head(5)

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,picture_url,host_id,...,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,requires_license,license,jurisdiction_names,calculated_host_listings_count,reviews_per_month
13832,105,https://www.airbnb.com/rooms/105,20150301182857,2015-03-01,Trendy Times Square Loft,NaN,THIS IS A SHARE and you will be staying with m...,THIS IS A SHARE and you will be staying with m...,https://a0.muscache.com/pictures/59366/large.jpg,500,...,10.0,10.0,10.0,10.0,10.0,f,NaN,NaN,2,0.5
14467,2515,https://www.airbnb.com/rooms/2515,20150301182857,2015-03-01,Stay at Chez Chic budget room #1,NaN,-PLEASE BOOK DIRECTLY. NO NEED TO SEND A REQUE...,-PLEASE BOOK DIRECTLY. NO NEED TO SEND A REQUE...,https://a1.muscache.com/pictures/88569/large.jpg,2758,...,9.0,10.0,10.0,9.0,9.0,f,NaN,NaN,3,1.4
18232,2595,https://www.airbnb.com/rooms/2595,20150301182857,2015-03-03,Midtown Castle,NaN,STUNNING SKYLIT STUDIO / 1 BED + SINGLE BED / ...,STUNNING SKYLIT STUDIO / 1 BED + SINGLE BED / ...,https://a0.muscache.com/pictures/62001385/larg...,2845,...,9.0,9.0,9.0,10.0,10.0,f,NaN,NaN,4,0.2
22688,2684,https://www.airbnb.com/rooms/2684,20150301182857,2015-03-01,Bedroom in 3-bedroom Apartment,Lovely bedroom with double bed and a view from...,It is a lovely apartment with lots of plants. ...,Lovely bedroom with double bed and a view from...,https://a2.muscache.com/pictures/48791636/larg...,2965,...,10.0,10.0,10.0,10.0,10.0,f,NaN,NaN,2,0.9
25360,3330,https://www.airbnb.com/rooms/3330,20150301182857,2015-03-01,+++ Brooklyn Lodge & Rooftop +++,"This is a lovely, spacious, clean furnished be...","Room Features: - clean, hardwood floors - 2 la...","This is a lovely, spacious, clean furnished be...",https://a2.muscache.com/pictures/41842659/larg...,4177,...,9.0,9.0,9.0,9.0,9.0,f,NaN,NaN,1,0.2

In [6]:
data['tsData_30'].head(5)

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,requires_license,license,jurisdiction_names,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
21892,2515,https://www.airbnb.com/rooms/2515,20171101012912,2017-11-01,Stay at Chez Chic budget room #1,Step into our artistic spacious apartment and ...,-PLEASE BOOK DIRECTLY. NO NEED TO SEND A REQUE...,Step into our artistic spacious apartment and ...,none,NaN,...,f,NaN,NaN,f,f,strict,f,f,3,1.43
19944,2539,https://www.airbnb.com/rooms/2539,20171101012912,2017-11-01,Clean & quiet apt home by the park,Renovated apt home in elevator building.,"Spacious, renovated, and clean apt home, one b...",Renovated apt home in elevator building. Spaci...,none,Close to Prospect Park and Historic Ditmas Park,...,f,NaN,NaN,f,f,moderate,f,f,7,0.30
30256,2595,https://www.airbnb.com/rooms/2595,20171101012912,2017-11-01,Midtown Castle,"Find your romantic getaway to this beautiful, ...","- Spacious (500+ft²), immaculate and nicely fu...","Find your romantic getaway to this beautiful, ...",none,Centrally located in the heart of Manhattan ju...,...,f,NaN,NaN,f,f,strict,t,t,2,0.24
41538,3330,https://www.airbnb.com/rooms/3330,20171101012912,2017-11-01,++ Brooklyn Penthouse Guestroom ++,"This is a spacious, clean, furnished master be...","Room Features: - clean, hardwood floors - 2 la...","This is a spacious, clean, furnished master be...",none,Location is GREAT!! Right off the L train in t...,...,f,NaN,NaN,f,f,strict,f,f,3,0.27
21767,3647,https://www.airbnb.com/rooms/3647,20171101012912,2017-11-01,THE VILLAGE OF HARLEM....NEW YORK !,NaN,WELCOME TO OUR INTERNATIONAL URBAN COMMUNITY T...,WELCOME TO OUR INTERNATIONAL URBAN COMMUNITY T...,none,NaN,...,f,NaN,NaN,f,f,strict,t,t,1,NaN

In [7]:
def extractDataToCSV(col1, col2, col3, fileName):
    rows1 = zip(col1, col2, col3)
    with open(fileName, "w") as f:
        writer = csv.writer(f)
        writer.writerow(['listing_id', 'host_id', 'number_of_reviews'])

        for row in rows1:
            writer.writerow(row)

In [8]:
'''
extractDataToCSV(tsData1.host_id, tsData1.id, tsData1.number_of_reviews, "1.csv")
extractDataToCSV(tsData2.host_id, tsData2.id, tsData2.number_of_reviews, "2.csv")
extractDataToCSV(tsData3.host_id, tsData3.id, tsData3.number_of_reviews, "3.csv")
'''
i = 1
finalFileNames = []
for key in data.keys():
    filePath = "/Users/gourabbhattacharyya/Desktop/CSE 544/project/finalData"
    fileName = "/Users/gourabbhattacharyya/Desktop/CSE 544/project/finalData/" + str(i) + ".csv"
    finalFileNames.append(fileName)
    extractDataToCSV(data[key].id, data[key].host_id, data[key].number_of_reviews, fileName)
    i += 1

print(finalFileNames)

['/Users/gourabbhattacharyya/Desktop/CSE 544/project/finalData/1.csv', '/Users/gourabbhattacharyya/Desktop/CSE 544/project/finalData/2.csv', '/Users/gourabbhattacharyya/Desktop/CSE 544/project/finalData/3.csv', '/Users/gourabbhattacharyya/Desktop/CSE 544/project/finalData/4.csv', '/Users/gourabbhattacharyya/Desktop/CSE 544/project/finalData/5.csv', '/Users/gourabbhattacharyya/Desktop/CSE 544/project/finalData/6.csv', '/Users/gourabbhattacharyya/Desktop/CSE 544/project/finalData/7.csv', '/Users/gourabbhattacharyya/Desktop/CSE 544/project/finalData/8.csv', '/Users/gourabbhattacharyya/Desktop/CSE 544/project/finalData/9.csv', '/Users/gourabbhattacharyya/Desktop/CSE 544/project/finalData/10.csv', '/Users/gourabbhattacharyya/Desktop/CSE 544/project/finalData/11.csv', '/Users/gourabbhattacharyya/Desktop/CSE 544/project/finalData/12.csv', '/Users/gourabbhattacharyya/Desktop/CSE 544/project/finalData/13.csv', '/Users/gourabbhattacharyya/Desktop/CSE 544/project/finalData/14.csv', '/Users/gourabbhattacharyya/Desktop/CSE 544/project/finalData/15.csv', '/Users/gourabbhattacharyya/Desktop/CSE 544/project/finalData/16.csv', '/Users/gourabbhattacharyya/Desktop/CSE 544/project/finalData/17.csv', '/Users/gourabbhattacharyya/Desktop/CSE 544/project/finalData/18.csv', '/Users/gourabbhattacharyya/Desktop/CSE 544/project/finalData/19.csv', '/Users/gourabbhattacharyya/Desktop/CSE 544/project/finalData/20.csv', '/Users/gourabbhattacharyya/Desktop/CSE 544/project/finalData/21.csv', '/Users/gourabbhattacharyya/Desktop/CSE 544/project/finalData/22.csv', '/Users/gourabbhattacharyya/Desktop/CSE 544/project/finalData/23.csv', '/Users/gourabbhattacharyya/Desktop/CSE 544/project/finalData/24.csv', '/Users/gourabbhattacharyya/Desktop/CSE 544/project/finalData/25.csv', '/Users/gourabbhattacharyya/Desktop/CSE 544/project/finalData/26.csv', '/Users/gourabbhattacharyya/Desktop/CSE 544/project/finalData/27.csv', '/Users/gourabbhattacharyya/Desktop/CSE 544/project/finalData/28.csv', '/Users/gourabbhattacharyya/Desktop/CSE 544/project/finalData/29.csv', '/Users/gourabbhattacharyya/Desktop/CSE 544/project/finalData/30.csv', '/Users/gourabbhattacharyya/Desktop/CSE 544/project/finalData/31.csv', '/Users/gourabbhattacharyya/Desktop/CSE 544/project/finalData/32.csv', '/Users/gourabbhattacharyya/Desktop/CSE 544/project/finalData/33.csv', '/Users/gourabbhattacharyya/Desktop/CSE 544/project/finalData/34.csv']

In [9]:
'''
path1 = '1.csv'
pd1 = pd.read_csv(path1, keep_default_na=False, na_values=[""])
path2 = '2.csv'
pd2 = pd.read_csv(path2, keep_default_na=False, na_values=[""])
path3 = '3.csv'
pd3 = pd.read_csv(path3, keep_default_na=False, na_values=[""])
'''

pdDict = {}
for j in range(len(finalFileNames)):
    indexVal = j+1
    fileNameVal = "pd_"+str(indexVal)
    print("FileName : ", fileNameVal)
    pdDict[fileNameVal] = pd.read_csv(finalFileNames[j], low_memory=False)
pdDict.keys()

FileName :  pd_1
FileName :  pd_2
FileName :  pd_3
FileName :  pd_4
FileName :  pd_5
FileName :  pd_6
FileName :  pd_7
FileName :  pd_8
FileName :  pd_9
FileName :  pd_10
FileName :  pd_11
FileName :  pd_12
FileName :  pd_13
FileName :  pd_14
FileName :  pd_15
FileName :  pd_16
FileName :  pd_17
FileName :  pd_18
FileName :  pd_19
FileName :  pd_20
FileName :  pd_21
FileName :  pd_22
FileName :  pd_23
FileName :  pd_24
FileName :  pd_25
FileName :  pd_26
FileName :  pd_27
FileName :  pd_28
FileName :  pd_29
FileName :  pd_30
FileName :  pd_31
FileName :  pd_32
FileName :  pd_33
FileName :  pd_34

dict_keys(['pd_1', 'pd_2', 'pd_3', 'pd_4', 'pd_5', 'pd_6', 'pd_7', 'pd_8', 'pd_9', 'pd_10', 'pd_11', 'pd_12', 'pd_13', 'pd_14', 'pd_15', 'pd_16', 'pd_17', 'pd_18', 'pd_19', 'pd_20', 'pd_21', 'pd_22', 'pd_23', 'pd_24', 'pd_25', 'pd_26', 'pd_27', 'pd_28', 'pd_29', 'pd_30', 'pd_31', 'pd_32', 'pd_33', 'pd_34'])

In [10]:
print(pdDict['pd_34'].shape)
pdDict['pd_34'].host_id.value_counts().sort_index().head(5)

(48852, 3)

283     1
500     1
2571    1
2600    1
2758    3
Name: host_id, dtype: int64

In [ ]:
'''
uniq_vals = pdDict['pd_1'].host_id.unique()
print(uniq_vals)


pdDictNew = {}
k = 1
for key in pdDict.keys():
    pdDictNewKeyName = key + "_"+str(k)
    print("pdDictNewKeyName : ", pdDictNewKeyName)
    pdDictNew[pdDictNewKeyName] = pdDict[key][pdDict[key].host_id.isin(uniq_vals)]
    k += 1
pdDictNew.keys()
'''

In [ ]:
#pd22 = pd2[pd2.host_id.isin(uniq_vals)]
#print(pdDictNew['pd_1_1'].shape)
#pdDictNew['pd_1_1'].head(5)

In [ ]:
#print(pdDictNew['pd_10_10'].shape)
#pdDictNew['pd_10_10'].head(5)

In [ ]:
#print(pd3['host_id'].isin(uniq_vals))
#pd33 = pd3[pd3['host_id'].isin(uniq_vals)]
#print(pd33.shape)
#pd33.head(5)
#print(pdDictNew['pd_34_34'].shape)
#pdDictNew['pd_34_34'].head(5)

In [ ]:
'''

rows2 = zip(pdDictNew['pd_1_1'].host_id, pdDictNew['pd_1_1'].listing_id, pdDictNew['pd_1_1'].number_of_reviews, 
            pdDictNew['pd_2_2'].listing_id, pdDictNew['pd_2_2'].number_of_reviews,
           pdDictNew['pd_3_3'].listing_id, pdDictNew['pd_3_3'].number_of_reviews,
           pdDictNew['pd_4_4'].listing_id, pdDictNew['pd_4_4'].number_of_reviews,
           pdDictNew['pd_5_5'].listing_id, pdDictNew['pd_5_5'].number_of_reviews,
           pdDictNew['pd_6_6'].listing_id, pdDictNew['pd_6_6'].number_of_reviews,
           pdDictNew['pd_7_7'].listing_id, pdDictNew['pd_7_7'].number_of_reviews,
           pdDictNew['pd_8_8'].listing_id, pdDictNew['pd_8_8'].number_of_reviews,
           pdDictNew['pd_9_9'].listing_id, pdDictNew['pd_9_9'].number_of_reviews,
           pdDictNew['pd_10_10'].listing_id, pdDictNew['pd_10_10'].number_of_reviews,
           pdDictNew['pd_11_11'].listing_id, pdDictNew['pd_11_11'].number_of_reviews,
           pdDictNew['pd_12_12'].listing_id, pdDictNew['pd_12_12'].number_of_reviews,
           pdDictNew['pd_13_13'].listing_id, pdDictNew['pd_13_13'].number_of_reviews,
           pdDictNew['pd_14_14'].listing_id, pdDictNew['pd_14_14'].number_of_reviews,
           pdDictNew['pd_15_15'].listing_id, pdDictNew['pd_15_15'].number_of_reviews,
           pdDictNew['pd_16_16'].listing_id, pdDictNew['pd_16_16'].number_of_reviews,
           pdDictNew['pd_17_17'].listing_id, pdDictNew['pd_17_17'].number_of_reviews,
           pdDictNew['pd_18_18'].listing_id, pdDictNew['pd_18_18'].number_of_reviews,
           pdDictNew['pd_19_19'].listing_id, pdDictNew['pd_19_19'].number_of_reviews,
           pdDictNew['pd_20_20'].listing_id, pdDictNew['pd_20_20'].number_of_reviews,
           pdDictNew['pd_21_21'].listing_id, pdDictNew['pd_21_21'].number_of_reviews,
           pdDictNew['pd_22_22'].listing_id, pdDictNew['pd_22_22'].number_of_reviews,
           pdDictNew['pd_23_23'].listing_id, pdDictNew['pd_23_23'].number_of_reviews,
           pdDictNew['pd_24_24'].listing_id, pdDictNew['pd_24_24'].number_of_reviews,
           pdDictNew['pd_25_25'].listing_id, pdDictNew['pd_25_25'].number_of_reviews,
           pdDictNew['pd_26_26'].listing_id, pdDictNew['pd_26_26'].number_of_reviews,
           pdDictNew['pd_27_27'].listing_id, pdDictNew['pd_27_27'].number_of_reviews,
           pdDictNew['pd_28_28'].listing_id, pdDictNew['pd_28_28'].number_of_reviews,
           pdDictNew['pd_29_29'].listing_id, pdDictNew['pd_29_29'].number_of_reviews,
           pdDictNew['pd_30_30'].listing_id, pdDictNew['pd_30_30'].number_of_reviews,
           pdDictNew['pd_31_31'].listing_id, pdDictNew['pd_31_31'].number_of_reviews,
           pdDictNew['pd_32_32'].listing_id, pdDictNew['pd_32_32'].number_of_reviews,
           pdDictNew['pd_33_33'].listing_id, pdDictNew['pd_33_33'].number_of_reviews,
           pdDictNew['pd_34_34'].listing_id, pdDictNew['pd_34_34'].number_of_reviews)

with open('final.csv', "w") as f:
    writer = csv.writer(f)
    writer.writerow(['host_id', 'listing_id1', 'number_of_reviews1', 'number_of_bookings1', 
                     'listing_id2', 'number_of_reviews2', 'number_of_bookings2', 
                     'listing_id3', 'number_of_reviews3', 'number_of_bookings3',
                    'listing_id4', 'number_of_reviews4', 'number_of_bookings4',
                    'listing_id5', 'number_of_reviews5', 'number_of_bookings5',
                    'listing_id6', 'number_of_reviews6', 'number_of_bookings6',
                    'listing_id7', 'number_of_reviews7', 'number_of_bookings7',
                    'listing_id8', 'number_of_reviews8', 'number_of_bookings8',
                    'listing_id9', 'number_of_reviews9', 'number_of_bookings9',
                    'listing_id10', 'number_of_reviews10', 'number_of_bookings10',
                    'listing_id11', 'number_of_reviews11', 'number_of_bookings11',
                    'listing_id12', 'number_of_reviews12', 'number_of_bookings12',
                    'listing_id13', 'number_of_reviews13', 'number_of_bookings13',
                    'listing_id14', 'number_of_reviews14', 'number_of_bookings14',
                    'listing_id15', 'number_of_reviews15', 'number_of_bookings15',
                    'listing_id16', 'number_of_reviews16', 'number_of_bookings16',
                    'listing_id17', 'number_of_reviews17', 'number_of_bookings17',
                    'listing_id18', 'number_of_reviews18', 'number_of_bookings18',
                    'listing_id19', 'number_of_reviews19', 'number_of_bookings19',
                    'listing_id20', 'number_of_reviews20', 'number_of_bookings20',
                    'listing_id21', 'number_of_reviews21', 'number_of_bookings21',
                    'listing_id22', 'number_of_reviews22', 'number_of_bookings22',
                    'listing_id23', 'number_of_reviews23', 'number_of_bookings23',
                    'listing_id24', 'number_of_reviews24', 'number_of_bookings24',
                    'listing_id25', 'number_of_reviews25', 'number_of_bookings25',
                    'listing_id26', 'number_of_reviews26', 'number_of_bookings26',
                    'listing_id27', 'number_of_reviews27', 'number_of_bookings27',
                    'listing_id28', 'number_of_reviews28', 'number_of_bookings28',
                    'listing_id29', 'number_of_reviews29', 'number_of_bookings29',
                    'listing_id30', 'number_of_reviews30', 'number_of_bookings30',
                    'listing_id31', 'number_of_reviews31', 'number_of_bookings31',
                    'listing_id32', 'number_of_reviews32', 'number_of_bookings32',
                    'listing_id33', 'number_of_reviews33', 'number_of_bookings33',
                    'listing_id34', 'number_of_reviews34', 'number_of_bookings34'])
    
    for row in rows2:
        #writer.writerow([row[:3], 10] + row[3:])
        new_row = [row[0],row[1],row[2], 0]
        new_row += [row[3],row[4], 0]
        new_row += [row[5],row[6], 0]
        new_row += [row[7],row[8], 0]
        new_row += [row[9],row[10], 0]
        new_row += [row[11],row[12], 0]
        new_row += [row[13],row[14], 0]
        new_row += [row[15],row[16], 0]
        new_row += [row[17],row[18], 0]
        new_row += [row[19],row[20], 0]
        new_row += [row[21],row[22], 0]
        new_row += [row[23],row[24], 0]
        new_row += [row[25],row[26], 0]
        new_row += [row[27],row[28], 0]
        new_row += [row[29],row[30], 0]
        new_row += [row[31],row[32], 0]
        new_row += [row[33],row[34], 0]
        new_row += [row[35],row[36], 0]
        new_row += [row[37],row[38], 0]
        new_row += [row[39],row[40], 0]
        new_row += [row[41],row[42], 0]
        new_row += [row[43],row[44], 0]
        new_row += [row[45],row[46], 0]
        new_row += [row[47],row[48], 0]
        new_row += [row[49],row[50], 0]
        new_row += [row[51],row[52], 0]
        new_row += [row[53],row[54], 0]
        new_row += [row[55],row[56], 0]
        new_row += [row[57],row[58], 0]
        new_row += [row[59],row[60], 0]
        new_row += [row[61],row[62], 0]
        new_row += [row[63],row[64], 0]
        new_row += [row[65],row[66], 0]
        new_row += [row[67],row[68], 0]
        writer.writerow(new_row)
'''

In [ ]:
'''
pathVal = 'final.csv'
pathVal1 = pd.read_csv(pathVal, keep_default_na=False, na_values=[""])
print(pathVal1.shape)
pathVal1.head(10)
'''

In [ ]:
'''
merged_df = pd.merge(left=pd1, right=pd2, left_on='host_id', right_on='host_id')
#merged_df = pd1.sort_index().merge(pd2.sort_index(), on='host_id')
#merged_df1 = merged_df.merge(pd3.sort_index(), on='host_id')
merged_df1 = pd.merge(left=merged_df, right=pd3, left_on='host_id', right_on='host_id')
'''

In [ ]:
'''
merged = merged_df1[merged_df1.host_id.isin(uniq_vals)]
print(merged.shape)
'''

In [ ]:
#merged.head(20)

In [ ]:
'''
rows3 = zip(merged.host_id, merged.listing_id_x, merged.number_of_reviews_x, merged.listing_id_y, 
            merged.number_of_reviews_y, merged.listing_id, merged.number_of_reviews)
with open('finalMerged.csv', "w") as f:
    writer = csv.writer(f)
    writer.writerow(['host_id', 'listing_id1', 'number_of_reviews1', 'number_of_bookings', 'listing_id2', 'number_of_reviews2', 
                     'listing_id3', 'number_of_reviews3'])
    
    for row in rows3:
        #writer.writerow([row[:3], 10] + row[3:])
        new_row = [row[0],row[1],row[2], 0]
        new_row += row[3:]
        writer.writerow(new_row)
'''

In [ ]:
'''
pathVal2 = 'finalMerged.csv'
pathVal11 = pd.read_csv(pathVal2, keep_default_na=False, na_values=[""])
pathVal11.head(5)
'''

## Merge ALL

In [11]:
pdDictKeyList = []
for key in pdDict.keys():
    pdDictKeyList.append(key)

conResult = pdDict[pdDictKeyList[0]].listing_id
for i in range(1, len(pdDictKeyList)):
    #print(pdDict[pdDictKeyList[i]].listing_id.shape)
    conResult = conResult.append(pdDict[pdDictKeyList[i]].listing_id)
#print(pdDict[pdDictKeyList[1]])
print(conResult.shape)

(1308849,)

In [15]:
uniq_vals = conResult.unique()
uniq_vals.shape

(134961,)

In [16]:
#rows1 = zip(conResult)
with open("output1.csv", "w") as f:
    writer = csv.writer(f)
    writer.writerow(['listing_id', 'host_id', 'number_of_reviews'])
    
    for row in uniq_vals:
        new_row = [row,0, 0]
        writer.writerow(new_row)

In [17]:
path1 = 'output1.csv'
outputVal = pd.read_csv(path1)
outputVal.head(5)

   listing_id  host_id  number_of_reviews
0         105        0                  0
1        2515        0                  0
2        2595        0                  0
3        2684        0                  0
4        3330        0                  0

### merge values on common listing ids

In [36]:
print(len(pdDictKeyList))
finalMerged = pdDict[pdDictKeyList[0]]
for i in range(1, len(pdDictKeyList), 2):
    if i < len(pdDictKeyList) - 1:
        result = pd.merge(pdDict[pdDictKeyList[i]], pdDict[pdDictKeyList[i+1]], on='listing_id')
    elif i == len(pdDictKeyList) - 1:
        result = pdDict[pdDictKeyList[i]]
    
    finalMerged = pd.merge(finalMerged, result, on='listing_id')
print(finalMerged.shape)
finalMerged.head(5)

34
(3684, 69)

,listing_id,host_id_x,number_of_reviews_x,host_id_x_x,number_of_reviews_x_x,host_id_y_x,number_of_reviews_y_x,host_id_x_y,number_of_reviews_x_y,host_id_y_y,...,host_id_x_x,number_of_reviews_x_x,host_id_y_x,number_of_reviews_y_x,host_id_x_y,number_of_reviews_x_y,host_id_y_y,number_of_reviews_y_y,host_id_y,number_of_reviews_y
0,2515,2758,109,2758,111,2758,112,2758,115,2758,...,2758,158,2758,159,2758,160,2758,163,2758,164
1,2595,2845,14,2845,15,2845,17,2845,17,2845,...,2845,23,2845,25,2845,29,2845,29,2845,29
2,3831,4869,6,4869,6,4869,7,4869,8,4869,...,4869,150,4869,159,4869,167,4869,173,4869,181
3,5172,7386,41,7386,41,7386,41,7386,42,7386,...,7386,64,7386,64,7386,64,7386,64,7386,64
4,5238,7549,96,7549,100,7549,102,7549,108,7549,...,7549,141,7549,142,7549,144,7549,145,7549,146

In [31]:
finalMerged.columns = ['listing_id', 'host_id_032015', 'number_of_reviews_032015','host_id_052015', 'number_of_reviews_052015','host_id_062015', 'number_of_reviews_062015','host_id_082015', 'number_of_reviews_082015','host_id_092015', 'number_of_reviews_092015','host_id_102015', 'number_of_reviews_102015', 'host_id_112015', 'number_of_reviews_112015','host_id_122015', 'number_of_reviews_122015','host_id_012016', 'number_of_reviews_012016','host_id_022016', 'number_of_reviews_022016','host_id_042016', 'number_of_reviews_042016','host_id_052016', 'number_of_reviews_052016','host_id_062016', 'number_of_reviews_062016','host_id_072016', 'number_of_reviews_072016','host_id_082016', 'number_of_reviews_082016','host_id_092016', 'number_of_reviews_092016','host_id_102016', 'number_of_reviews_102016','host_id_112016', 'number_of_reviews_112016','host_id_122016', 'number_of_reviews_122016','host_id_012017', 'number_of_reviews_012017','host_id_022017', 'number_of_reviews_022017','host_id_032017', 'number_of_reviews_032017','host_id_042017', 'number_of_reviews_042017','host_id_052017', 'number_of_reviews_052017','host_id_062017', 'number_of_reviews_062017','host_id_072017', 'number_of_reviews_072017','host_id_082017', 'number_of_reviews_082017','host_id_092017', 'number_of_reviews_092017','host_id_102017', 'number_of_reviews_102017','host_id_112017', 'number_of_reviews_112017','host_id_122017', 'number_of_reviews_122017','host_id_012018', 'number_of_reviews_012018','host_id_022018', 'number_of_reviews_022018','host_id_032018', 'number_of_reviews_032018']

In [34]:
finalMerged.to_csv('commonListings.csv')
finalMerged.head(5)

,listing_id,host_id_032015,number_of_reviews_032015,host_id_052015,number_of_reviews_052015,host_id_062015,number_of_reviews_062015,host_id_082015,number_of_reviews_082015,host_id_092015,...,host_id_112017,number_of_reviews_112017,host_id_122017,number_of_reviews_122017,host_id_012018,number_of_reviews_012018,host_id_022018,number_of_reviews_022018,host_id_032018,number_of_reviews_032018
0,2515,2758,109,2758,111,2758,112,2758,115,2758,...,2758,158,2758,159,2758,160,2758,163,2758,164
1,2595,2845,14,2845,15,2845,17,2845,17,2845,...,2845,23,2845,25,2845,29,2845,29,2845,29
2,3831,4869,6,4869,6,4869,7,4869,8,4869,...,4869,150,4869,159,4869,167,4869,173,4869,181
3,5172,7386,41,7386,41,7386,41,7386,42,7386,...,7386,64,7386,64,7386,64,7386,64,7386,64
4,5238,7549,96,7549,100,7549,102,7549,108,7549,...,7549,141,7549,142,7549,144,7549,145,7549,146

## Merge all values of listings for last 3 years

In [23]:
finalMergedAllYears = outputVal
for i in range(0, len(pdDictKeyList), 2):
    resultAll = pd.merge(pdDict[pdDictKeyList[i]], pdDict[pdDictKeyList[i+1]], on='listing_id', how='left')
    
    finalMergedAllYears = pd.merge(finalMergedAllYears, resultAll, on='listing_id', how='left')
print(finalMergedAllYears.shape)
finalMergedAllYears = finalMergedAllYears.fillna(0)
print(finalMergedAllYears.shape)
finalMergedAllYears.head(5)

(134961, 71)
(134961, 71)

,listing_id,host_id,number_of_reviews,host_id_x_x,number_of_reviews_x_x,host_id_y_x,number_of_reviews_y_x,host_id_x_y,number_of_reviews_x_y,host_id_y_y,...,host_id_y_x,number_of_reviews_y_x,host_id_x_y,number_of_reviews_x_y,host_id_y_y,number_of_reviews_y_y,host_id_x,number_of_reviews_x,host_id_y,number_of_reviews_y
0,105,0,0,500.0,39.0,500.0,39.0,500.0,39.0,500.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2515,0,0,2758.0,109.0,2758.0,111.0,2758.0,112.0,2758.0,...,2758.0,158.0,2758.0,159.0,2758.0,160.0,2758.0,163.0,2758.0,164.0
2,2595,0,0,2845.0,14.0,2845.0,15.0,2845.0,17.0,2845.0,...,2845.0,23.0,2845.0,25.0,2845.0,29.0,2845.0,29.0,2845.0,29.0
3,2684,0,0,2965.0,4.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,3330,0,0,4177.0,12.0,4177.0,14.0,4177.0,16.0,4177.0,...,4177.0,26.0,4177.0,26.0,4177.0,27.0,4177.0,27.0,4177.0,27.0

In [24]:
finalMergedAllYears = finalMergedAllYears.drop(['host_id', 'number_of_reviews'], axis=1)
finalMergedAllYears.shape

(134961, 69)

In [25]:
finalMergedAllYears.columns = ['listing_id', 'host_id_032015', 'number_of_reviews_032015','host_id_052015', 'number_of_reviews_052015','host_id_062015', 'number_of_reviews_062015','host_id_082015', 'number_of_reviews_082015','host_id_092015', 'number_of_reviews_092015','host_id_102015', 'number_of_reviews_102015', 'host_id_112015', 'number_of_reviews_112015','host_id_122015', 'number_of_reviews_122015','host_id_012016', 'number_of_reviews_012016','host_id_022016', 'number_of_reviews_022016','host_id_042016', 'number_of_reviews_042016','host_id_052016', 'number_of_reviews_052016','host_id_062016', 'number_of_reviews_062016','host_id_072016', 'number_of_reviews_072016','host_id_082016', 'number_of_reviews_082016','host_id_092016', 'number_of_reviews_092016','host_id_102016', 'number_of_reviews_102016','host_id_112016', 'number_of_reviews_112016','host_id_122016', 'number_of_reviews_122016','host_id_012017', 'number_of_reviews_012017','host_id_022017', 'number_of_reviews_022017','host_id_032017', 'number_of_reviews_032017','host_id_042017', 'number_of_reviews_042017','host_id_052017', 'number_of_reviews_052017','host_id_062017', 'number_of_reviews_062017','host_id_072017', 'number_of_reviews_072017','host_id_082017', 'number_of_reviews_082017','host_id_092017', 'number_of_reviews_092017','host_id_102017', 'number_of_reviews_102017','host_id_112017', 'number_of_reviews_112017','host_id_122017', 'number_of_reviews_122017','host_id_012018', 'number_of_reviews_012018','host_id_022018', 'number_of_reviews_022018','host_id_032018', 'number_of_reviews_032018']

In [26]:
finalMergedAllYears.to_csv('allListings_3Years.csv')
finalMergedAllYears.head(5)

,listing_id,host_id_032015,number_of_reviews_032015,host_id_052015,number_of_reviews_052015,host_id_062015,number_of_reviews_062015,host_id_082015,number_of_reviews_082015,host_id_092015,...,host_id_112017,number_of_reviews_112017,host_id_122017,number_of_reviews_122017,host_id_012018,number_of_reviews_012018,host_id_022018,number_of_reviews_022018,host_id_032018,number_of_reviews_032018
0,105,500.0,39.0,500.0,39.0,500.0,39.0,500.0,39.0,500.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2515,2758.0,109.0,2758.0,111.0,2758.0,112.0,2758.0,115.0,2758.0,...,2758.0,158.0,2758.0,159.0,2758.0,160.0,2758.0,163.0,2758.0,164.0
2,2595,2845.0,14.0,2845.0,15.0,2845.0,17.0,2845.0,17.0,2845.0,...,2845.0,23.0,2845.0,25.0,2845.0,29.0,2845.0,29.0,2845.0,29.0
3,2684,2965.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,3330,4177.0,12.0,4177.0,14.0,4177.0,16.0,4177.0,16.0,4177.0,...,4177.0,26.0,4177.0,26.0,4177.0,27.0,4177.0,27.0,4177.0,27.0

In [35]:
'''
finalColList = finalMerged.columns
#print(finalMerged[finalColList[0]])
rows = zip(finalMerged[finalColList[0]],
          finalMerged[finalColList[1]],
          finalMerged[finalColList[2]],
          finalMerged[finalColList[3]],
          finalMerged[finalColList[4]],
          finalMerged[finalColList[5]],
          finalMerged[finalColList[6]],
          finalMerged[finalColList[7]],
          finalMerged[finalColList[8]],
          finalMerged[finalColList[9]],
          finalMerged[finalColList[10]],
          finalMerged[finalColList[11]],
          finalMerged[finalColList[12]],
          finalMerged[finalColList[13]],
          finalMerged[finalColList[14]],
          finalMerged[finalColList[15]],
          finalMerged[finalColList[16]],
          finalMerged[finalColList[17]],
          finalMerged[finalColList[18]],
          finalMerged[finalColList[19]],
          finalMerged[finalColList[20]],
          finalMerged[finalColList[21]],
          finalMerged[finalColList[22]],
          finalMerged[finalColList[23]],
          finalMerged[finalColList[24]],
          finalMerged[finalColList[25]],
          finalMerged[finalColList[26]],
          finalMerged[finalColList[27]],
          finalMerged[finalColList[28]],
          finalMerged[finalColList[29]],
          finalMerged[finalColList[30]],
          finalMerged[finalColList[31]],
          finalMerged[finalColList[32]],
          finalMerged[finalColList[33]],
          finalMerged[finalColList[0]],
          finalMerged[finalColList[0]],
          finalMerged[finalColList[0]],
          finalMerged[finalColList[0]],
          finalMerged[finalColList[0]],
          finalMerged[finalColList[0]],
          finalMerged[finalColList[0]],
          finalMerged[finalColList[0]],
          finalMerged[finalColList[0]],
          finalMerged[finalColList[0]],
          finalMerged[finalColList[0]],
          finalMerged[finalColList[0]],
          finalMerged[finalColList[0]],
          finalMerged[finalColList[0]],
          finalMerged[finalColList[0]],
          finalMerged[finalColList[0]],
          finalMerged[finalColList[0]],
          finalMerged[finalColList[0]],
          finalMerged[finalColList[0]],
          finalMerged[finalColList[0]],
          finalMerged[finalColList[0]],
          finalMerged[finalColList[0]],
          finalMerged[finalColList[0]],
          finalMerged[finalColList[0]],
          finalMerged[finalColList[0]],
          finalMerged[finalColList[0]],
          finalMerged[finalColList[0]],
          finalMerged[finalColList[0]],
          finalMerged[finalColList[0]],
          finalMerged[finalColList[0]],
          finalMerged[finalColList[0]],
          finalMerged[finalColList[0]],
          finalMerged[finalColList[0]],
          finalMerged[finalColList[0]],
          finalMerged[finalColList[0]],
          finalMerged[finalColList[0]],
          finalMerged[finalColList[0]],
          finalMerged[finalColList[0]],
          finalMerged[finalColList[0]],
          finalMerged[finalColList[0]],
          finalMerged[finalColList[0]],
          finalMerged[finalColList[0]],
          finalMerged[finalColList[0]],
          finalMerged[finalColList[0]],
          finalMerged[finalColList[0]],
          finalMerged[finalColList[0]],
          finalMerged[finalColList[0]],
          finalMerged[finalColList[0]],
          finalMerged[finalColList[0]],
          finalMerged[finalColList[0]],
          finalMerged[finalColList[0]],
          finalMerged[finalColList[0]],
          finalMerged[finalColList[0]],
          finalMerged[finalColList[0]],
          finalMerged[finalColList[0]],
          finalMerged[finalColList[0]],
          finalMerged[finalColList[0]],
          finalMerged[finalColList[0]],
          finalMerged[finalColList[0]],
          finalMerged[finalColList[0]],
          finalMerged[finalColList[0]],
          finalMerged[finalColList[0]],)

with open('final.csv', "w") as f:
    writer = csv.writer(f)
    writer.writerow(['listing_id', 'host_id_032015', 'number_of_reviews_032015', 'number_of_bookings_032015', 
                     'host_id_052015', 'number_of_reviews_052015', 'number_of_bookings_052015',
                    'host_id_062015', 'number_of_reviews_062015', 'number_of_bookings_062015',
                    'host_id_082015', 'number_of_reviews_082015', 'number_of_bookings_082015',
                    'host_id_092015', 'number_of_reviews_092015', 'number_of_bookings_092015',
                    'host_id_102015', 'number_of_reviews_102015', 'number_of_bookings_102015',
                    'host_id_112015', 'number_of_reviews_112015', 'number_of_bookings_112015',
                    'host_id_122015', 'number_of_reviews_122015', 'number_of_bookings_122015',
                    'host_id_012016', 'number_of_reviews_012016', 'number_of_bookings_012016',
                    'host_id_022016', 'number_of_reviews_022016', 'number_of_bookings_022016',
                    'host_id_042016', 'number_of_reviews_042016', 'number_of_bookings_042016',
                    'host_id_052016', 'number_of_reviews_052016', 'number_of_bookings_052016',
                    'host_id_062016', 'number_of_reviews_062016', 'number_of_bookings_062016',
                    'host_id_072016', 'number_of_reviews_072016', 'number_of_bookings_072016',
                    'host_id_082016', 'number_of_reviews_082016', 'number_of_bookings_082016',
                    'host_id_092016', 'number_of_reviews_092016', 'number_of_bookings_092016',
                    'host_id_102016', 'number_of_reviews_102016', 'number_of_bookings_102016',
                    'host_id_112016', 'number_of_reviews_112016', 'number_of_bookings_112016',
                    'host_id_122016', 'number_of_reviews_122016', 'number_of_bookings_122016',
                    'host_id_012017', 'number_of_reviews_012017', 'number_of_bookings_012017',
                    'host_id_022017', 'number_of_reviews_022017', 'number_of_bookings_022017',
                    'host_id_032017', 'number_of_reviews_032017', 'number_of_bookings_032017',
                    'host_id_042017', 'number_of_reviews_042017', 'number_of_bookings_042017',
                    'host_id_052017', 'number_of_reviews_052017', 'number_of_bookings_052017',
                    'host_id_062017', 'number_of_reviews_062017', 'number_of_bookings_062017',
                    'host_id_072017', 'number_of_reviews_072017', 'number_of_bookings_072017',
                    'host_id_082017', 'number_of_reviews_082017', 'number_of_bookings_082017',
                    'host_id_092017', 'number_of_reviews_092017', 'number_of_bookings_092017',
                    'host_id_102017', 'number_of_reviews_102017', 'number_of_bookings_102017',
                    'host_id_112017', 'number_of_reviews_112017', 'number_of_bookings_112017',
                    'host_id_122017', 'number_of_reviews_122017', 'number_of_bookings_122017',
                    'host_id_012018', 'number_of_reviews_012018', 'number_of_bookings_012018',
                    'host_id_022018', 'number_of_reviews_022018', 'number_of_bookings_022018',
                    'host_id_032018', 'number_of_reviews_032018', 'number_of_bookings_032018'])
    
    
    
    for row in rows:
        #writer.writerow([row[:3], 10] + row[3:])
        new_row = [row[0],row[1],row[2], 0]
        new_row += [row[3],row[4], 0]
        new_row += [row[5],row[6], 0]
        new_row += [row[7],row[8], 0]
        new_row += [row[9],row[10], 0]
        new_row += [row[11],row[12], 0]
        new_row += [row[13],row[14], 0]
        new_row += [row[15],row[16], 0]
        new_row += [row[17],row[18], 0]
        new_row += [row[19],row[20], 0]
        new_row += [row[21],row[22], 0]
        new_row += [row[23],row[24], 0]
        new_row += [row[25],row[26], 0]
        new_row += [row[27],row[28], 0]
        new_row += [row[29],row[30], 0]
        new_row += [row[31],row[32], 0]
        new_row += [row[33],row[34], 0]
        new_row += [row[35],row[36], 0]
        new_row += [row[37],row[38], 0]
        new_row += [row[39],row[40], 0]
        new_row += [row[41],row[42], 0]
        new_row += [row[43],row[44], 0]
        new_row += [row[45],row[46], 0]
        new_row += [row[47],row[48], 0]
        new_row += [row[49],row[50], 0]
        new_row += [row[51],row[52], 0]
        new_row += [row[53],row[54], 0]
        new_row += [row[55],row[56], 0]
        new_row += [row[57],row[58], 0]
        new_row += [row[59],row[60], 0]
        new_row += [row[61],row[62], 0]
        new_row += [row[63],row[64], 0]
        new_row += [row[65],row[66], 0]
        new_row += [row[67],row[68], 0]
        writer.writerow(new_row)
print("Success!!")
'''

'\nfinalColList = finalMerged.columns\n#print(finalMerged[finalColList[0]])\nrows = zip(finalMerged[finalColList[0]],\n          finalMerged[finalColList[1]],\n          finalMerged[finalColList[2]],\n          finalMerged[finalColList[3]],\n          finalMerged[finalColList[4]],\n          finalMerged[finalColList[5]],\n          finalMerged[finalColList[6]],\n          finalMerged[finalColList[7]],\n          finalMerged[finalColList[8]],\n          finalMerged[finalColList[9]],\n          finalMerged[finalColList[10]],\n          finalMerged[finalColList[11]],\n          finalMerged[finalColList[12]],\n          finalMerged[finalColList[13]],\n          finalMerged[finalColList[14]],\n          finalMerged[finalColList[15]],\n          finalMerged[finalColList[16]],\n          finalMerged[finalColList[17]],\n          finalMerged[finalColList[18]],\n          finalMerged[finalColList[19]],\n          finalMerged[finalColList[20]],\n          finalMerged[finalColList[21]],\n          finalMerged[finalColList[22]],\n          finalMerged[finalColList[23]],\n          finalMerged[finalColList[24]],\n          finalMerged[finalColList[25]],\n          finalMerged[finalColList[26]],\n          finalMerged[finalColList[27]],\n          finalMerged[finalColList[28]],\n          finalMerged[finalColList[29]],\n          finalMerged[finalColList[30]],\n          finalMerged[finalColList[31]],\n          finalMerged[finalColList[32]],\n          finalMerged[finalColList[33]],\n          finalMerged[finalColList[0]],\n          finalMerged[finalColList[0]],\n          finalMerged[finalColList[0]],\n          finalMerged[finalColList[0]],\n          finalMerged[finalColList[0]],\n          finalMerged[finalColList[0]],\n          finalMerged[finalColList[0]],\n          finalMerged[finalColList[0]],\n          finalMerged[finalColList[0]],\n          finalMerged[finalColList[0]],\n          finalMerged[finalColList[0]],\n          finalMerged[finalColList[0]],\n          finalMerged[finalColList[0]],\n          finalMerged[finalColList[0]],\n          finalMerged[finalColList[0]],\n          finalMerged[finalColList[0]],\n          finalMerged[finalColList[0]],\n          finalMerged[finalColList[0]],\n          finalMerged[finalColList[0]],\n          finalMerged[finalColList[0]],\n          finalMerged[finalColList[0]],\n          finalMerged[finalColList[0]],\n          finalMerged[finalColList[0]],\n          finalMerged[finalColList[0]],\n          finalMerged[finalColList[0]],\n          finalMerged[finalColList[0]],\n          finalMerged[finalColList[0]],\n          finalMerged[finalColList[0]],\n          finalMerged[finalColList[0]],\n          finalMerged[finalColList[0]],\n          finalMerged[finalColList[0]],\n          finalMerged[finalColList[0]],\n          finalMerged[finalColList[0]],\n          finalMerged[finalColList[0]],\n          finalMerged[finalColList[0]],\n          finalMerged[finalColList[0]],\n          finalMerged[finalColList[0]],\n          finalMerged[finalColList[0]],\n          finalMerged[finalColList[0]],\n          finalMerged[finalColList[0]],\n          finalMerged[finalColList[0]],\n          finalMerged[finalColList[0]],\n          finalMerged[finalColList[0]],\n          finalMerged[finalColList[0]],\n          finalMerged[finalColList[0]],\n          finalMerged[finalColList[0]],\n          finalMerged[finalColList[0]],\n          finalMerged[finalColList[0]],\n          finalMerged[finalColList[0]],\n          finalMerged[finalColList[0]],\n          finalMerged[finalColList[0]],\n          finalMerged[finalColList[0]],\n          finalMerged[finalColList[0]],\n          finalMerged[finalColList[0]],\n          finalMerged[finalColList[0]],\n          finalMerged[finalColList[0]],\n          finalMerged[finalColList[0]],\n          finalMerged[finalColList[0]],\n          finalMerged[finalColList[0]],\n          finalMerged[finalColList[0]],\n          finalMerged[finalColList[0]],\n          finalMerged[finalColList[0]],)\n\nwith open(\'final.csv\', "w") as f:\n    writer = csv.writer(f)\n    writer.writerow([\'listing_id\', \'host_id_032015\', \'number_of_reviews_032015\', \'number_of_bookings_032015\', \n                     \'host_id_052015\', \'number_of_reviews_052015\', \'number_of_bookings_052015\',\n                    \'host_id_062015\', \'number_of_reviews_062015\', \'number_of_bookings_062015\',\n                    \'host_id_082015\', \'number_of_reviews_082015\', \'number_of_bookings_082015\',\n                    \'host_id_092015\', \'number_of_reviews_092015\', \'number_of_bookings_092015\',\n                    \'host_id_102015\', \'number_of_reviews_102015\', \'number_of_bookings_102015\',\n                    \'host_id_112015\', \'number_of_reviews_112015\', \'number_of_bookings_112015\',\n                    \'host_id_122015\', \'number_of_reviews_122015\', \'number_of_bookings_122015\',\n                    \'host_id_012016\', \'number_of_reviews_012016\', \'number_of_bookings_012016\',\n                    \'host_id_022016\', \'number_of_reviews_022016\', \'number_of_bookings_022016\',\n                    \'host_id_042016\', \'number_of_reviews_042016\', \'number_of_bookings_042016\',\n                    \'host_id_052016\', \'number_of_reviews_052016\', \'number_of_bookings_052016\',\n                    \'host_id_062016\', \'number_of_reviews_062016\', \'number_of_bookings_062016\',\n                    \'host_id_072016\', \'number_of_reviews_072016\', \'number_of_bookings_072016\',\n                    \'host_id_082016\', \'number_of_reviews_082016\', \'number_of_bookings_082016\',\n                    \'host_id_092016\', \'number_of_reviews_092016\', \'number_of_bookings_092016\',\n                    \'host_id_102016\', \'number_of_reviews_102016\', \'number_of_bookings_102016\',\n                    \'host_id_112016\', \'number_of_reviews_112016\', \'number_of_bookings_112016\',\n                    \'host_id_122016\', \'number_of_reviews_122016\', \'number_of_bookings_122016\',\n                    \'host_id_012017\', \'number_of_reviews_012017\', \'number_of_bookings_012017\',\n                    \'host_id_022017\', \'number_of_reviews_022017\', \'number_of_bookings_022017\',\n                    \'host_id_032017\', \'number_of_reviews_032017\', \'number_of_bookings_032017\',\n                    \'host_id_042017\', \'number_of_reviews_042017\', \'number_of_bookings_042017\',\n                    \'host_id_052017\', \'number_of_reviews_052017\', \'number_of_bookings_052017\',\n                    \'host_id_062017\', \'number_of_reviews_062017\', \'number_of_bookings_062017\',\n                    \'host_id_072017\', \'number_of_reviews_072017\', \'number_of_bookings_072017\',\n                    \'host_id_082017\', \'number_of_reviews_082017\', \'number_of_bookings_082017\',\n                    \'host_id_092017\', \'number_of_reviews_092017\', \'number_of_bookings_092017\',\n                    \'host_id_102017\', \'number_of_reviews_102017\', \'number_of_bookings_102017\',\n                    \'host_id_112017\', \'number_of_reviews_112017\', \'number_of_bookings_112017\',\n                    \'host_id_122017\', \'number_of_reviews_122017\', \'number_of_bookings_122017\',\n                    \'host_id_012018\', \'number_of_reviews_012018\', \'number_of_bookings_012018\',\n                    \'host_id_022018\', \'number_of_reviews_022018\', \'number_of_bookings_022018\',\n                    \'host_id_032018\', \'number_of_reviews_032018\', \'number_of_bookings_032018\'])\n    \n    \n    \n    for row in rows:\n        #writer.writerow([row[:3], 10] + row[3:])\n        new_row = [row[0],row[1],row[2], 0]\n        new_row += [row[3],row[4], 0]\n        new_row += [row[5],row[6], 0]\n        new_row += [row[7],row[8], 0]\n        new_row += [row[9],row[10], 0]\n        new_row += [row[11],row[12], 0]\n        new_row += [row[13],row[14], 0]\n        new_row += [row[15],row[16], 0]\n        new_row += [row[17],row[18], 0]\n        new_row += [row[19],row[20], 0]\n        new_row += [row[21],row[22], 0]\n        new_row += [row[23],row[24], 0]\n        new_row += [row[25],row[26], 0]\n        new_row += [row[27],row[28], 0]\n        new_row += [row[29],row[30], 0]\n        new_row += [row[31],row[32], 0]\n        new_row += [row[33],row[34], 0]\n        new_row += [row[35],row[36], 0]\n        new_row += [row[37],row[38], 0]\n        new_row += [row[39],row[40], 0]\n        new_row += [row[41],row[42], 0]\n        new_row += [row[43],row[44], 0]\n        new_row += [row[45],row[46], 0]\n        new_row += [row[47],row[48], 0]\n        new_row += [row[49],row[50], 0]\n        new_row += [row[51],row[52], 0]\n        new_row += [row[53],row[54], 0]\n        new_row += [row[55],row[56], 0]\n        new_row += [row[57],row[58], 0]\n        new_row += [row[59],row[60], 0]\n        new_row += [row[61],row[62], 0]\n        new_row += [row[63],row[64], 0]\n        new_row += [row[65],row[66], 0]\n        new_row += [row[67],row[68], 0]\n        writer.writerow(new_row)\nprint("Success!!")\n'

## END